@using ClientApiContactbookApplication.ViewModels
@model List<ContactbookViewModel>
@{
    int count = (ViewBag.CurrentPage - 1) * ViewBag.PageSize + 1;
    var distinctLetters = ViewBag.DistinctLetters;
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
    int pageSize = ViewBag.PageSize;
    string sortOrder = ViewBag.SortOrder;
    string search = ViewBag.Search;

}



<h4 class="text-center">Favourite Contact</h4>

@* @for (char letter = 'A'; letter <= 'Z'; letter++)
{
    <a asp-action="ShowSpecificFavouriteContactWithPagination" asp-route-letter="@letter.ToString()" style="text-decoration:none;">
        <button class="btn btn-outline-secondary m-1" style="margin:5px">
            @letter
        </button>
    </a>
} *@
@foreach (var letter in distinctLetters)
{
    <a asp-action="ShowSpecificFavouriteContactWithPagination" asp-route-letter="@letter.ToString()" style="text-decoration:none;">
        <button class="btn btn-outline-secondary m-1" style="margin:5px">
            @letter
        </button>
    </a>
}
<a class="btn btn-outline-secondary m-1" asp-action="ShowAllFavouriteContactWithPagination">Show all favourite</a>
<a class="btn btn-outline-secondary m-1" asp-action="ShowAllContactWithPagination">Show all</a>



<table class="table">
    <thead>
        <tr>
            <th>Sr No.</th>
            <th>
                <div class="fas fa-caret-up arrowup" onclick="sortContacts('asc')"></div>
                <div class="fas fa-caret-down arrowdown" onclick="sortContacts('desc')"></div>
                Name
                </th>
            <th>Phone Number</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="5">No favourite record found.</td>
            </tr>
        }
        else
        {

            @foreach (var contact in Model)
            {

                <tr>
                    <td>@count</td>
                    <td>@contact.Name</td>
                    <td>@contact.PhoneNumber</td>
                    @if (contact.ImagePreview != null)
                    {
                        <td>
                            <img src="data:image/jpeg;base64,@contact.ImagePreview" alt="Contact image" width="80" height="80" style="border-radius: 50px;" />
                        </td>
                    }
                    else
                    {
                        <td>
                            <img src="@Url.Content("~/Uploads/defaultmaleimage.png")" alt="Contact image" width="80" height="80" style="border-radius: 50px;" />
                        </td>
                    }
                    <td>

                        <a asp-action="Edit" asp-route-id="@contact.ContactId" class="btn btn-info">Edit</a>
                        <a asp-action="Details" asp-route-id="@contact.ContactId" class="btn btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@contact.ContactId" class="btn btn-info">Delete</a>

                        @*    <form method="post" action="@Url.Action("DeleteConfirmed", "Contactbook")">
                <input type="hidden" name="contactId" value="@contact.ContactId" />
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
                </form> *@
                    </td>
                </tr>

                count++;
            }
        }

    </tbody>
</table>




@if (Model.Count == 0)
{

}
else
{
    <!-- Pagination -->

    <div>

        <!-- Page size dropdown -->

        <label for="pageSize">Page Size:</label>

        <select id="pageSize" onchange="changePageSize(this)">

            <option value="2">2</option>

            <option value="4">4</option>

            <option value="6">6</option>

            <!-- Add more options as needed -->

        </select>

        <div style="display:flex;justify-content:center">
            <ul class="pagination">
                <!-- First Page Link -->
                <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="/Contactbook/ShowAllFavouriteContactWithPagination?page=1&pageSize=@pageSize&sortOrder=@sortOrder">First</a>
                </li>

                <!-- Previous Page Link -->
                <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="/Contactbook/ShowAllFavouriteContactWithPagination?page=@(currentPage - 1)&pageSize=@pageSize&sortOrder=@sortOrder">Previous</a>
                </li>

                <!-- Page Numbers -->
                @for (int i = 1; i <= totalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" href="/Contactbook/ShowAllFavouriteContactWithPagination?page=@i&pageSize=@pageSize&sortOrder=@sortOrder">@i</a>
                    </li>
                }

                <!-- Next Page Link -->
                <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                    <a class="page-link" href="/Contactbook/ShowAllFavouriteContactWithPagination?page=@(currentPage + 1)&pageSize=@pageSize&sortOrder=@sortOrder">Next</a>
                </li>

                <!-- Last Page Link -->
                <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                    <a class="page-link" href="/Contactbook/ShowAllFavouriteContactWithPagination?page=@totalPages&pageSize=@pageSize&sortOrder=@sortOrder">Last</a>
                </li>
            </ul>

        </div>

       @*  <ul class="pagination">

            @for (int i = 1; i <= ViewBag.TotalPages; i++)

            {

                <li class="page-item @(i == ViewBag.Page ? "active" : "")">

                    <a class="page-link" href="/Contactbook/ShowAllFavouriteContactWithPagination?page=@i&pageSize=@ViewBag.PageSize&sortOrder=@ViewBag.SortOrder">@i</a>

                </li>

            }

        </ul> *@

    </div>
}
<script>

    document.addEventListener("DOMContentLoaded", function () {

        var currentPageSize = @(ViewBag.PageSize); // Get current page size from ViewBag

        var pageSizeDropdown = document.getElementById("pageSize");

        // Set selected option based on current page size

        for (var i = 0; i < pageSizeDropdown.options.length; i++) {

            if (pageSizeDropdown.options[i].value === currentPageSize.toString()) {

                pageSizeDropdown.selectedIndex = i;

                break;

            }

        }

    });

    function changePageSize(select) {

        var pageSize = select.value;

        var currentPage = "@(ViewBag.CurrentPage)";

        var sortOrder = "@(ViewBag.SortOrder)";

        window.location.href = "/Contactbook/ShowAllFavouriteContactWithPagination?page=" + currentPage + "&pageSize=" + pageSize + "&sortOrder=" + sortOrder;

    }
    function sortContacts(order) {
        var currentPage = "@ViewBag.CurrentPage";
        var pageSize = "@ViewBag.PageSize";

        window.location.href = "/Contactbook/ShowAllFavouriteContactWithPagination?page=" + currentPage + "&pageSize=" + pageSize + "&sortOrder=" + order;
    }

</script>


<div>

    <a class="btn btn-primary" asp-action="CreateContact">Add Contact</a>
    @* <a class="btn btn-primary" asp-action="ShowAllContact">Show all contact</a> *@

</div>

<style>
    .arrowup,
    .arrowdown {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }

    .arrowup {
        margin-bottom: 17px;
    }

    .arrowdown {
        margin-left: -15px;
        margin-top: 0px;
    }
</style>